/* Colors */
.colors {
  height: 30px;
  width: 30px;
  float: left;
  padding: 5px;
  margin: 3px 3px 3px;
  cursor: pointer;
}

#red {
  background-color: red;
}

#orange {
  background-color: orange;
}

#yellow {
  background-color: yellow;
}

#green {
  background-color: green;
}

#blue {
  background-color: blue;
}

#indigo {
  background-color: teal;
}

#purple {
  background-color: purple;
}

/* Textures */
.textures {
  height: 35px;
  width: 80px;
  border: 1px solid #eee;
  float: left;
  padding: 5px;
  margin-right:5px;
  cursor: pointer;
}

#paper {
  background-image: url("../images/texture-paper.png");
}

#swirls {
  background-image: url("../images/texture-swirls.png");
}

#circles {
  background-image: url("../images/texture-circles.png");
}

#cloth {
  background-image: url("../images/texture-cloth.png");
}

/* Message output styling */
#message-output {
  text-align: center;
  font-size: 40px;
  height: 40px;
  width: 100%;
}

/* Recipient output styling */
#recipient-output {
  text-align: center;
  font-size: 35px;
  height: 35px;
  width: 100%;
}

/* Cursor styling for draggable sticker */
.stickers {
  cursor: pointer;
}

.sticker_on_card {
  cursor: move;
  position: absolute;
}
