/* Colors */
.colors {
  height:30px;
  width:30px;
  float: left;
  padding: 5px;
  margin: 3px 3px 3px;
  cursor: pointer;
}

#red {
  background-color: red;
}

#orange {
  background-color: orange;
}

#yellow {
  background-color: yellow;
}

#green {
  background-color: green;
}

#blue {
  background-color: blue;
}

#indigo {
  background-color: teal;
}

#purple {
  background-color: purple;
}
